---
import { Image } from "astro:assets";
const { title, url, image, description, date, alt } = Astro.props;
---

<article
  class="group relative overflow-hidden bg-white dark:bg-neutral-900 shadow-md rounded-xl shadow-soft transition-all duration-300 hover:shadow-lg hover:-translate-y-2 w-full"
>
  <a href={url} class="block">
    <div class="relative overflow-hidden aspect-video">
      <Image
        src={image}
        alt={alt}
        height={50}
        width={50}
        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105"
      />s
      <div
        class="absolute inset-0 bg-black/20 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center"
      >
        <span class="text-white bg-black/50 px-4 py-2 rounded-full"
          >Read More</span
        >
      </div>
    </div>

    <div class="p-6 space-y-4">
      <time class="text-sm text-neutral-500 dark:text-neutral-400">
        {
          new Date(date).toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>

      <h2
        class="text-lg font-semibold text-neutral-800 dark:text-white group-hover:text-yellow-500 dark:group-hover:text-yellow-400 transition-colors"
      >
        {title}
      </h2>

      {
        description && (
          <p class="text-sm text-neutral-600 dark:text-neutral-300 line-clamp-2">
            {description}
          </p>
        )
      }

      <div class="flex items-center justify-between">
        <span
          class="text-sm text-neutral-500 dark:text-neutral-400 flex items-center space-x-2"
        >
        </span>

        <a
          href={url}
          class="text-sm
            px-3
            py-1
            bg-neutral-100
            dark:bg-neutral-800
            text-neutral-700
            dark:text-neutral-300
            rounded-full
            hover:bg-neutral-200
            dark:hover:bg-neutral-700
            transition-colors"
        >
          Continue
        </a>
      </div>
    </div>
  </a>
</article>
