---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
import band from "../../public/band.svg";
import { Image } from "astro:assets";
---

<Layout pageTitle={frontmatter.title}>
  <!-- Hero section -->
  <div class="px-6 h-96 flex justify-center items-center bg-yellow-400">
    <Image
      src={band}
      alt="band"
      class="opacity-30 absolute h-96 w-full object-cover"
    />
    <div class="space-y-6">
      <h1
        class="text-6xl sm:text-7xl font-bold tracking-tight text-neutral-900"
      >
        {frontmatter.title}
      </h1>
      <span
        class="flex items-center font-regular text-xl italic text-neutral-800"
      >
        {frontmatter.description}
      </span>
      <p class='text-neutral-800"'>
        Written by: {frontmatter.author}
      </p>
    </div>
  </div>
  <article class="max-w-5xl mx-auto px-6 py-12">
    <!-- Markdown content -->
    <article class="prose dark:prose-invert max-w-none">
      <slot />
    </article>
  </article>
</Layout>
